/*
* override react-big-calendar default styles
*/

.rbc-today {
  /*
  * current day highlight
  */
  background-color: #F9F9FB;
}

.rbc-time-header {
  /*
  * time header for week view
  */
  display: none;
}

.rbc-time-content > * + * > * {
  /*
  * time grid content
  */
  border-top: 0px;
  border-left: 0px;
}

.rbc-time-gutter .rbc-timeslot-group {
  /*
  * time label borders
  */
  border: 0;
  margin: -13px 5px 13px 0px;
}

.rbc-label {
  /*
  * time labels
  */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: small;
}

.rbc-current-time-indicator {
  /*
  * current time indicator
  */
  height: 3px;
  background-color: #fc0;
}

