.calendarContainer {
  max-height: 100vh;
  padding: 20px;
}

.roomTitle {
  margin-bottom: 20px;
}

.roomTitle h3 {
  font-weight: 300;
  font-size: medium;
  margin: 0;
}

.roomTitle h2 {
  font-weight: 900;
  margin: 0;
}

.eventCard {
  margin: 15px;
}

.eventCard h2 {
  font-weight: 700;
  font-size: large;
  margin: 0;
}

.eventCard h3 {
  font-weight: 300;
  font-size: small;
  margin-top: 5px;
}


/*
* override react-big-calendar default styles
*/

.rbc-today {
  /*
  * current day highlight
  */
  background-color: #F9F9FB;
}

.rbc-time-header {
  /*
  * time header for week view
  */
  display: none;
}

.rbc-time-view {
  /*
  * day view
  */
  border: none;
}

.rbc-time-content {
  /*
  * day view borders
  */
  border: none;
}


.rbc-time-content > * + * > * {
  /*
  * time grid content
  */
  border-top: none;
  border-left: none;
  z-index: 0;
}

.rbc-timeslot-group {
  /*
  * time slot height
  */
  min-height: 60px;
}

.rbc-time-gutter .rbc-timeslot-group {
  /*
  * time label cells
  */
  border: none;
  margin: -11px 5px 11px 0;   /* offset to show labels at exact hour */
}

.rbc-time-gutter {
  margin-top: 15px; /* due to label offsets above, need top margin to properly show 00:00 */
}

.rbc-day-slot {
  margin-top: 15px; /* due to label offsets above, need top margin to properly show 00:00 */
}

.rbc-label {
  /*
  * time labels
  */
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: smaller;
  margin-right: 5px;
}

.rbc-current-time-indicator {
  /*
  * current time indicator
  */
  height: 3px;
  background-color: #fc0;
}

.rbc-current-time-indicator::before {
  content: '';
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
  background-color: #fc0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
* event
*/
.rbc-event {
  box-shadow: 0px 12px 15px -15px rgb(191, 202, 212);
  background-color: #ffffff;
  color: #234361;
  border-radius: 0px;
  margin-left: 5px;
}

.rbc-day-slot .rbc-event {
  border-top: 1px solid #E4E7EB;
  border-right: none;
  border-bottom: none;
  border-left: 8px solid #fc0
  
}

.rbc-event.rbc-selected {
  background-color: #ffffff;
}

.rbc-event-label {
  display:none;
}