/*
* override react-big-calendar default styles
*/

.rbc-today {
  /*
  * current day highlight
  */
  background-color: #F9F9FB;
}

.rbc-time-header {
  /*
  * time header for week view
  */
  display: none;
}


.rbc-time-content > * + * > * {
  /*
  * time grid content
  */
  border-top: 0px;
  border-left: 0px;
}


.rbc-time-gutter .rbc-timeslot-group {
  /*
  * time label cells
  */
  border: 0;
  margin: -13px 5px 13px 0;   /* offset to show labels at exact hour */
}

.rbc-time-gutter {
  padding-top: 15px; /* due to label offsets above, need top padding to properly show 00:00 */
}

.rbc-day-slot {
  padding-top: 15px; /* due to label offsets above, need top padding to properly show 00:00 */
}

.rbc-label {
  /*
  * time labels
  */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: small;
}

.rbc-current-time-indicator {
  /*
  * current time indicator
  */
  height: 3px;
  background-color: #fc0;
}

/*
* event
*/
.rbc-event {
  box-shadow: 0px 2px 15px 1px rgb(191, 202, 212);
  background-color: #ffffff;
  color: #234361;
  border-radius: 0px;
}

.rbc-day-slot .rbc-event {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 8px solid #fc0
  
}

.rbc-event.rbc-selected {
  background-color: #ffffff;
}
