.currentMeeting {
  text-align: center;
  padding: 160px 40px 160px 40px;
  flex-direction: column;
}

.currentMeeting hr {
  width: 32px;
}

.hugeTitle {
  font-weight: 900;
  font-size: xxx-large;
}

.subTitle {
  font-weight: 300;
}