.detailTitleBar {
  border-bottom: 1px solid #E4E7EB;
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 0 24px 0;
  font-weight: 700;
  font-size: larger;
}

.detailIcon {
  flex: 0 0 15%;
  line-height: initial;
}

.detailIcon img {
  max-width: 40px;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
}


.detailTitle {
  flex: 0 2 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.detailCollapse {
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentRow {
  padding: 10px 10px 10px 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.description {
  color: #66788A;
}

.participantName {
  margin: 0;
  padding-top: 5px;
  font-size: medium;
  font-weight: 700;
}

.participantTitle {
  margin: 0;
  color: #A6B1BB;
  font-size: smaller;
  font-weight: 700;
}