.detailTitleBar {
  border-bottom: 1px solid #E4E7EB;
  display: flex;
  flex-wrap: nowrap;
}

.detailIcon {
  flex: 0 0 15%;
  border-right: 2px solid;
}

.detailTitle {
  flex: 0 2 70%;
}

.detailCollapse {
  flex: 0 0 15%;
  border-left: 2px solid;
}

.contentRow {
  padding: 10px 10px 10px 15%;
}

.participantName {
  margin: 0;
  font-size: medium;
  font-weight: 700;
}

.participantTitle {
  margin: 0;
  color: #A6B1BB;
  font-size: smaller;
  font-weight: 700;
}