.eventTitleBar {
  background-color: #fc0;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 0 16px 0;
  font-weight: 400;
  font-size: larger;
}

.eventTitle {
  flex: 5 3 85%;
}

.backButton {
  flex: 1 0 15%;
  margin: 0 0 0 5%;
}