.mainPane {
  flex-basis: 65%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('../img/bg-image.jpg');
  background-position: bottom;
  background-size: cover;

  color: #F9F9FB
}