.nextMeetings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px 0;
  background-color: rgba(66, 90, 112, 0.2);
}

.nextMeeting {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-grow: 0;
  padding: 30px;
  min-width: 25%;
}

.nextMeeting h3 {
  font-weight: 300;
  margin: none;
  font-size: medium;
}

.nextMeeting h2 {
  font-weight: 900;
  font-size: large;
  margin: -5px 0 -15px 0;
}